body {
    background-image: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
    background-attachment: fixed;
    margin: 0px;
    padding-left: 0rem;
    padding-right: 0rem;

}

header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia, serif;
    grid-row: 1/2;

}

header {
    line-height: 140%;
    padding: .5rem;
    background-image: url(images/utahtechlogo.svg);
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 1em;
    background-origin: content-box;
    margin: 0;
    grid-column: 2 / 8;
    z-index: 4;
}

header a {
    text-decoration: none;
    color: #ffffff;
}


h2 {
    color: #424242;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    color: #003058;
}

dt {
    color: #003058;
    font-weight: bold;
}

.ut {
    color: #BA1C21;
    font-weight: bold;
}

footer {
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
    grid-row: 5 / 6;
    grid-column: 2 / 8;
}

nav {
    font-weight: bold;
    background-color: #424242;
    position: sticky;
    top: 0;
    grid-row: 2 / 3;
    grid-column: 2 / 8;
    z-index: 2;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}

nav ul li {
    width: 100%;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 1rem 0rem;
    display: block;
    text-align: center;
}

nav a:hover {
    text-decoration: underline;
    background-color: #BA1C21;
}

main {
    grid-row: 4 / 5;
    grid-column: 2 / 8;
    background-color: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
}

main img {
    float: right;

    padding: 2rem;
}

#wrapper {
    display: grid;
    grid-auto-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

#homehero {
    background-image: url("images/homehero.jpg");
    background-color: white;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 3 / 4;
    grid-column: 1 / 9;
}

#studentshero {
    background-image: url("images/studenthero.jpg");
    background-color: white;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 3 / 4;
    grid-column: 1 / 9;
}

#facultyhero {
    background-image: url("images/facultyhero.jpg");
    background-color: white;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 3 / 4;
    grid-column: 1 / 9;
}

* {
    box-sizing: border-box;
}

#bluebar {
    background-color: #003058;
    grid-row: 1 / 2;
    grid-column: 1 / 9;
    z-index: 3
}
#graybar {
    background-color: #424242;
    grid-row: 2 / 3;
    grid-column: 1 / 9;
    z-index: 1
}

@media only screen and (max-width: 1100px){
    #wrapper {
        grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 150px)) minmax(0px, 1fr);
    }
}

@media only screen and (max-width: 900px){
    nav {
        grid-row: 2 / 3;
        grid-column: 1 / 5;
        position: static;

        
    }
    nav ul {
            flex-flow: column-nowrap;
        }

    #facultyhero {
        grid-row: 2/3;
        grid-column: 5 / 8;
        height: auto;
    }
    #homehero {
        grid-row: 2/3;
        grid-column: 5 / 8;
        height: auto;
    }
    #studentshero {
        grid-row: 2/3;
        grid-column: 5 / 8;
        height: auto;
    }

    main img {
        float: none;
        width: 100%;
        height: auto;
        padding-left: 0px;
    }
}

@media only screen and (max-width: 600px) {
    header h1 {
        background-image: none;
        text-align: center;
        
    }
    nav {
            grid-row: 2 /3;
            grid-column: 1 / 9;

        }
    #facultyhero {
        display: none;
    }
    #homehero {
        display: none;
    }
    #studentshero {
        display: none;
    }
}