body {
    background-color: #000806;
    
}

#wrapper {
    display: grid;
    grid-template-columns: minmax(0px, 12.5vw) repeat(6, minmax(0, 12.5vw)) minmax(0px, 12.5vw);
	font-family: "IBM Plex Serif", serif;

}

a {
	text-decoration: none;
}


header {
    background-color: #000807;
    grid-column: 1 / 10;

	height: 10vh;

    #headerbox {
        display: flex;
        flex-direction: row-reverse;

			nav {
				display: flex;
				flex-direction: row-reverse;
				text-align: center;
				vertical-align: center;
				width: 70%;
				margin-left: auto;
				margin-right: auto;
				
				a {
				color: #FBF9FF;
				font-weight: 700;
				font-size: 1.5em;
				font-style: normal;

				width: 50%;
				margin-left: auto;
				margin-right: auto;
				margin-top: 3vh;
				margin-bottom: 3vh;
				}
				a:hover {
				text-decoration: underline;					
				}
			}
			
			#headerimage {
				vertical-align: center;
				width: 30%;
				margin-left: 1%;
				margin-right: 30%;	
				margin-top: 1vh;
				margin-bottom: 3vh;
				img {
					height: 12vh;
					z-index: 2;
				}
			}
        
    }

}

#workpreview {
    background-image: url(images/nero.jpg);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1 / 10;
	display: flex;
	align-items: flex-end;
	z-index: -1;
}

#worktextbox {
	background-color: rgba(0, 0, 0, 0.5);
	background-size: cover;
	width: 100%;
	height: 20%;
	display: flex;
	flex-direction: row;
	align-items: center;
			
		a {
			color: #FBF9FF;
			font-weight: 700;
			font-size: 1.5em;
			margin-left: 10%;
			margin-top: auto;
			margin-bottom: auto;
		}

}

#projectspreview {
    background-color: #9395d3;
    grid-column: 1 / 10;
	display: flex;
	flex-direction: row;
	color: #FBF9FF;
	padding: 1em;
	overflow-x: scroll;
	scrollbar-color: #000807 #9395d3;
	cursor: grab;
	user-select: none;

	
	.project {
		background-color: #000807;
		width: 40vw;
		height:30vh;
		display: flex;
		flex-direction: row;
		padding: 0.5em;
		padding-left: 1em;
		border-radius: 25px;
		margin-right: 1em;
		flex-shrink: 0;
		p {
		font-size: 0.7em;
		font-weight: 400;
		}
		img{
			border-radius: 25px;
		}
		
	}
}

#mepreview {
    background-color: #FBF9FF;
    grid-column: 1 / 10;
	display: flex;
	flex-direction: row-reverse;
	h1{
		font-size: 2em;
		font-weight: 700;
	}
	p {
		font-size: 1.3em;
		font-weight: 400;
		}
	#mepreviewtext {
		margin-right: 1em;
		text-align: right;
		width: 60%;
	}
	#mepreviewimage {
		margin-top: 1em;
		margin-bottom: 1em;
		margin-left: 1em;
		margin-right: auto;
		img {
			border-style: solid;
			border-color: #000807;
			border-width: 0.2em;	
			border-radius: 25px;
		}
		
		
	}
}
#contactpreview {
    background-color: #9395d3;
    grid-column: 1 / 10;
	
	#contactflexbox {
		display: flex;
		flex-direction: row;
		
	}
	h1{
		font-size: 2em;
		font-weight: 700;
		margin-left: 1em;
		text-align: center;
	}
	.contactbox {
		height: 4em;
		background-color: #9395d3;
		margin-right: auto;
		margin-left: auto;
		width: 25%;
		text-align: center;
		
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.contactbox:hover{
		background-color: #000807;
		
		a{
		text-decoration: underline;
		}
	}
	
	a {
		color: #FBF9FF;
		font-size: 2em;
		font-weight: 400;
	}
}

footer {
    background-color: #000807;
    grid-column: 1 / 10;
	padding: 1em;
	
	#backtotopbutton {
		font-family: "IBM Plex Serif", serif;
		color: #FBF9FF;
		font-weight: 400;
		font-style: normal;
		background-color: #000807;
		border: none;
		outline: none;
		cursor: pointer ;
		font-size: 1em;
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		height: 2em;
	}
	#backtotopbutton:hover{
		text-decoration: underline;
	}
}

.ibm-plex-serif-light {
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-style: normal;
}

.ibm-plex-serif-regular {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.ibm-plex-serif-medium {
    font-family: "IBM Plex Serif", serif;
    font-weight: 500;
    font-style: normal;
}

.ibm-plex-serif-bold {
    font-family: "IBM Plex Serif", serif;
    font-weight: 700;
    font-style: normal;
}