body {
    background-image: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
    background-attachment: fixed;
    padding-left: 2rem;
    padding-right: 2rem;

}

header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia, serif;

}

header h1 {
    line-height: 140%;
    padding: .5rem;
    background-image: url(images/utahtechlogo.svg);
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 1em;
    background-origin: content-box;
    margin-bottom: 0;
}

nav {
    font-weight: bold;
    background-color: #F3F3F3;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;

}

h2 {
    color: #424242;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    color: #003058;
}

dt {
    color: #003058;
    font-weight: bold;
}

.ut {
    color: #BA1C21;
    font-weight: bold;
}

footer {
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
}

nav a {
    text-decoration: none;
    color: blue;
}

nav a:hover {
    text-decoration: underline;
    color: red;
}

#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 0px 3px 3px rgba(66, 66, 66, 0.3);
}

#homehero {
    background-image: url("images/homehero.jpg");
    background-color: white;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#studentshero {
    background-image: url("images/studenthero.jpg");
    background-color: white;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#facultyhero {
    background-image: url("images/facultyhero.jpg");
    background-color: white;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}